<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Quadropedia - 4-Language Wikipedia Browser</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100%;
      }

      body > div {
        height: 100%;
        width: 100%;
      }

      body > div > div {
        float: left;
        height: 100%;
        width: 25%;
      }

      iframe {
        height: 99%;
        width: 100%;
      }
    </style>
  </head>

  <body>
{{{body}}}
  </body>

</html>
