<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Quadropedia - 4-Language Wikipedia Browser</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>

  <body>
{{{body}}}
  </body>

</html>
