    <div>
      {{#each langs}}
      <div>
        <div class="frameTitle"></div>
        <iframe
          frameborder="0"
          id="{{this}}"
          src="/page/{{this}}"></iframe>
      </div>
      {{/each}}
    </div>

    <script>
    // GLOBALS //
    var DEBUG = 1;
    var frameLangs = [];
    var translations = {};
    var transcode = "translation";

    // LISTENERS //
    document.addEventListener("DOMContentLoaded", function(){
    	context = window.top;
    	for (i = 0; i < context.frames.length; i++){
    		frameLangs.push(context.frames[i].frameElement.id);
    	}
    });

    document.addEventListener("DOMFrameContentLoaded", function(e){
      var frame = e.target;
      var path = frame.contentWindow.location.pathname;

      if (DEBUG) {
        frame.parentElement.getElementsByClassName("frameTitle")[0].innerText = frame.contentWindow.location.href;
      }

      // Only grab translations if page is itself not a grabbed translation
      res = path.match( /^\/page\/[a-zA-Z]{2,}(?:\-[a-zA-Z]{2,}){0,2}\/wiki\/.*?(?:\/(.*))?$/ );
      if ( res && res[1] != transcode ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200) {
            translations = JSON.parse(this.responseText);
            updateFrames(frame.id);
          }
        };
        var transURL = "transget" + path;
        xhttp.open("GET", transURL, true);
        xhttp.send();
      }
    });

    // FUNCTIONS //
    function updateFrames(id){
      for (i = 0; i < frameLangs.length; i++){
        chkLang = frameLangs[i];
        // For all other frame id's
        if (chkLang != id){
          // Check if translation available
          if (translations[chkLang]){
            // Load translation in appropriate frame
            var url = "page/" + chkLang + "/wiki/" + translations[chkLang] + "/" + transcode;
            document.getElementById(chkLang).src = url
          } else {
            // Display placeholder
            var url = "page/unavailable";
            document.getElementById(chkLang).src = url;
          }
        }
      }
      // Tidy up
      // i.e. empty translations array ??
    }
    </script>
