    <script type="text/javascript" src="static/main.js"></script>
    <!--<p id="debug" style="height: 2em;"></p>-->
    <div id="container">
      {{#iter numFrames}}
      <div>
        <select id="langSelect_{{this}}" onchange="changeFrameLang(this)" style="width:100%;">
          <option value="" disabled selected>Select language</option>
        </select>
        <div class="frameURL"></div>
        <iframe id="" src="" frameborder="0"></iframe>
      </div>
      {{/iter}}
    </div>
